{% extends 'base.html' %}
{% block titlePage %}Категория "{{Catalog.title}}"{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block contentPage %}
<div class="catalog-section-1">
			<div class="container">
				<div class="colums">
					<div class="catalog-section-1-col-left">
						<div class="logo-parent">
							<div class="logo"><img src="img/logo.png" alt=""></div>
						</div>
						<div class="menu">
							<ul class="main-menu">
								{% for item in Categories %}
									{% if item.childs|length > 0 %}
										<li><a href="/catalog/all/{{item.id}}">{{item.title}}</a></li>
												<ul>
													{% for child in item.childs %}
													<li><a href="/catalog/all/{{child.id}}">{{child.title}}</a></li>
													{% endfor %}
												</ul><a href="#" class="view-all">смотреть все</a>
											</li>
									{% else %}
										<li ><a href="/catalog/all/{{item.id}}">{{item.title}}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="catalog-section-1-col-right">
						<div class="catalog-banner-header" style="background-image: url('/airdraw/{{Catalog.photo_banner.spath}}/857/442')"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="catalog-section-options">
			<div class="container">
				<form method="get">
					<select name="category" multiple="multiple" class="category sumoselect">
						<option>Без рукавов</option>
						<option>Футболки</option>
						<option>Джемперы</option>
						<option>Пуловеры</option>
					</select>
					<select name="price" class="price sumoselect">
						<option>цена</option>
						{% set min = PriceList.min|default(0) %}
						{% set max = PriceList.max|default(50000) %}
						{% set iter = max/5000 %}
						{% for item in 0..iter %}
							<option>{{ item*5000 }}</option>
						{% endfor %}
						<option>{{ max }}</option>
					</select>
					<select name="color" class="color sumoselect">
						<option>цвет</option>
						{% for item in ParamsList %}
							{% if item.name == "color" %}
								{% for val in item.vals %}
								<option>{{ val.value }}</option>
								{% endfor %}
							{% endif %}
						{% endfor %}
					</select>
					<select name="size" class="size sumoselect">
						<option>размер</option>
						{% for item in ParamsList %}
							{% if item.name == "size" %}
								{% for val in item.vals %}
								<option>{{ val.value }}</option>
								{% endfor %}
							{% endif %}
						{% endfor %}
					</select>
					<select name="design" class="design sumoselect">
						<option>дизайнер</option>
						<option>голубой</option>
						<option>желтый</option>
						<option>синий</option>
					</select>
				</form>
			</div>
		</div>
		<div class="catalog-section-products">
			<div class="container">
				<h2>футболки</h2>
				<div class="products">
					{% if Products|length > 0 %}
					{% for item in Products %} 
						<div class="product">
							<div class="preview carousel"><span class="nav-carousel-prev"><i class="icon icon-prev"></i></span>
								<div class="items-carousel">
									{% for photo in item.photos %}
										<div class="item-carousel"><a href="/product/{{item.id}}"><img src="/airdraw/{{photo.spath}}/210/315" alt=""></a></div>
									{% endfor %}
								</div><span class="sizes">34, 36, 38, 42</span><span class="nav-carousel-next"><i class="icon icon-next"></i></span>
							</div>
							<div class="description"><a href="/product/{{item.id}}">
									<h3>{{item.title}}</h3>
									<p>Пальто из кашемира с аппликацией</p>
									<p class="price">{{ item.price|number_format(0,'.',',') }} <i class="tenge">n</i></p></a></div>
						</div>
					{% endfor %}
					{% else %}
						<div>В данной категории нет товаров</div>
					{% endif %}
				</div>
			</div>
		</div>
{% endblock %}