{% extends 'base.html' %}
{% block titlePage %}Категория "{{Catalog.title}}"{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block contentPage %}
<div class="product-section-1">
	<div class="container">
		<div class="colums">
			<div class="product-section-1-col-1">
				<div class="logo-parent">
					<div class="logo"><img src="img/logo.png" alt=""></div>
				</div>
				<div class="menu">
					<ul class="main-menu">
						<li><a href="#">новое</a></li>
						<li><a href="#">женщины</a></li>
						<li><a href="#">мужчины</a></li>
						<li><a href="#">дизайнеры</a></li>
						<li><a href="#">outlet</a></li>
					</ul>
				</div>
				<div class="miniauter">
					<ul>
						<li><a href="#"><img src="img/mini1.jpg" alt=""></a></li>
						<li><a href="#"><img src="img/mini2.jpg" alt=""></a></li>
						<li><a href="#"><img src="img/mini3.jpg" alt=""></a></li>
						<li><a href="#"><img src="img/mini4.jpg" alt=""></a></li>
					</ul>
				</div>
			</div>
			<div class="product-section-1-col-2"><img src="img/product.jpg" alt=""></div>
			<div class="product-section-1-col-3">
				<h1>ai by aidana <br>kozhageldina</h1>
				<p>Пальто из кашемира с аппликацией из ситепона с открытой спиной</p>
				<p class="price">134,000<i class="tenge">n</i></p>
				<form>
					<div class="input-group">
						<select name="size" class="size sumoselect">
							<option>размер</option>
							<option>голубой</option>
							<option>желтый</option>
							<option>синий</option>
						</select>
					</div><a href="#" class="link-size"> <span>Таблица размеров/ </span>Подобрать размер</a>
					<div class="input-group">
						<select name="color" class="color sumoselect">
							<option>цвет</option>
							<option>голубой</option>
							<option>голубой</option>
							<option>синий</option>
						</select>
					</div>
					<div class="input-group-button">
						<div class="input-group-button-1">
							<button type="submit" class="button button-black">Купить</button>
						</div>
						<div class="input-group-button-2">
							<button type="submit" class="button button-gray">Хотеть</button>
						</div>
					</div>
				</form>
				<ul class="social">
					<li><a href="#"><i class="icon icon-squaer icon-squaer-facebook"></i></a></li>
					<li><a href="#"><i class="icon icon-squaer icon-squaer-twitter"></i></a></li>
					<li><a href="#"><i class="icon icon-squaer icon-squaer-vkontakte"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="product-section-2">
	<div class="container">
		<div class="product-section-2-middle">
			<ul class="hexcode">
				<li><a href="#">#белый</a></li>
				<li><a href="#">#пальто</a></li>
				<li><a href="#">#всявбелом</a></li>
				<li><a href="#">#пуговицывдваряда </a></li>
				<li><a href="#">#модельвтеплесентябрьдоволен</a></li>
				<li><a href="#">#почтихлое</a></li>
			</ul>
			<h2>описание</h2>
			<p>Jil Sander's white coat exemplifies the label's clean, contemporary approach to tailoring. This crisp double-breasted style is cut from structured wool-gabardine lined in a smooth silk-blend for added warmth. Wear it over turtleneck sweaters and smart pants.</p>
			<h2>о дизайнере</h2>
			<p>Jil Sander's white coat exemplifies the label's clean, contemporary approach to tailoring. This crisp double-breasted style is cut from structured wool-gabardine lined in a smooth silk-blend for added warmth. Wear it over turtleneck sweaters and smart pants.</p>
		</div>
		<div class="products-block1">
			<h2>что носить с этим изделием</h2>
			<div class="products products-4">
				<div class="product">
					<div class="preview carousel"><span class="nav-carousel-prev"><i class="icon icon-prev"></i></span>
						<div class="items-carousel">
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
						</div><span class="sizes">34, 36, 38, 42</span><span class="nav-carousel-next"><i class="icon icon-next"></i></span>
					</div>
					<div class="description"><a href="#">
							<h3>khan kuchum</h3>
							<p>Пальто из кашемира с аппликацией</p>
							<p class="price">134,000 <i class="tenge">n</i></p></a></div>
				</div>
				<div class="product">
					<div class="preview carousel"><span class="nav-carousel-prev"><i class="icon icon-prev"></i></span>
						<div class="items-carousel">
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
						</div><span class="sizes">34, 36, 38, 42</span><span class="nav-carousel-next"><i class="icon icon-next"></i></span>
					</div>
					<div class="description"><a href="#">
							<h3>khan kuchum</h3>
							<p>Пальто из кашемира с аппликацией</p>
							<p class="price">134,000 <i class="tenge">n</i></p></a></div>
				</div>
				<div class="product">
					<div class="preview carousel"><span class="nav-carousel-prev"><i class="icon icon-prev"></i></span>
						<div class="items-carousel">
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
						</div><span class="sizes">34, 36, 38, 42</span><span class="nav-carousel-next"><i class="icon icon-next"></i></span>
					</div>
					<div class="description"><a href="#">
							<h3>khan kuchum</h3>
							<p>Пальто из кашемира с аппликацией</p>
							<p class="price">134,000 <i class="tenge">n</i></p></a></div>
				</div>
				<div class="product">
					<div class="preview carousel"><span class="nav-carousel-prev"><i class="icon icon-prev"></i></span>
						<div class="items-carousel">
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
						</div><span class="sizes">34, 36, 38, 42</span><span class="nav-carousel-next"><i class="icon icon-next"></i></span>
					</div>
					<div class="description"><a href="#">
							<h3>khan kuchum</h3>
							<p>Пальто из кашемира с аппликацией</p>
							<p class="price">134,000 <i class="tenge">n</i></p></a></div>
				</div>
			</div>
		</div>
		<div class="products-block2">
			<h2>еще от этого дизанера</h2>
			<div class="products">
				<div class="product">
					<div class="preview carousel"><span class="nav-carousel-prev"><i class="icon icon-prev"></i></span>
						<div class="items-carousel">
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
						</div><span class="sizes">34, 36, 38, 42</span><span class="nav-carousel-next"><i class="icon icon-next"></i></span>
					</div>
					<div class="description"><a href="#">
							<p>Пальто из кашемира с аппликацией</p>
							<p class="price">134,000 <i class="tenge">n</i></p></a></div>
				</div>
				<div class="product">
					<div class="preview carousel"><span class="nav-carousel-prev"><i class="icon icon-prev"></i></span>
						<div class="items-carousel">
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
						</div><span class="sizes">34, 36, 38, 42</span><span class="nav-carousel-next"><i class="icon icon-next"></i></span>
					</div>
					<div class="description"><a href="#">
							<p>Пальто из кашемира с аппликацией</p>
							<p class="price">134,000 <i class="tenge">n</i></p></a></div>
				</div>
				<div class="product">
					<div class="preview carousel"><span class="nav-carousel-prev"><i class="icon icon-prev"></i></span>
						<div class="items-carousel">
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
							<div class="item-carousel"><a href="#"><img src="img/shmot.png" alt=""></a></div>
						</div><span class="sizes">34, 36, 38, 42</span><span class="nav-carousel-next"><i class="icon icon-next"></i></span>
					</div>
					<div class="description"><a href="#">
							<p>Пальто из кашемира с аппликацией</p>
							<p class="price">134,000 <i class="tenge">n</i></p></a></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="product-section-3">
	<div class="container">
		<div class="colums">
			<div class="banner-footer-left">
				<div class="banner banner1"><a href="#">
						<h3>гардероб <br>звезды инстаграма <br>@lalala</h3>
						<p>О подарках, подписчиках и любимых фильтрах</p></a></div>
			</div>
			<div class="banner-footer-right">
				<div class="banner banner2"><a href="#">
						<h3>гардероб <br>звезды инстаграма <br>@lalala</h3>
						<p>О подарках, подписчиках и любимых фильтрах</p></a></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}