@import "bourbon"
@import "_normalize.sass"
@import "_vars.sass"
@import "fonts.sass"
@import "libs/owl.carousel.sass"

*::-webkit-input-placeholder
	color: #fff
	opacity: 1


*:-moz-placeholder
	color: #fff
	opacity: 1

*::-moz-placeholder
	color: #fff
	opacity: 1

*:-ms-input-placeholder
	color: #fff
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #fff

body input:required:valid,
body textarea:required:valid
	color: #fff

*
	margin: 0
	padding: 0

body
	font-family: "CirceRegular", $helvetica
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: sans-serif
	font-weight: normal
	overflow-x: hidden
	color: #000
	position: relative

.container
	max-width: 1100px
	margin: 0 auto
	padding: 0 15px
	box-sizing: border-box

.bold
	font-family: "CirceBold", $helvetica
	font-weight: normal

.text
	max-width: 320px
	width: 100%
	border: 0

.search-text
	@extend .text
	background-color: #000
	border: 1px solid #585858
	padding: 11px 5px 10px
	box-sizing: border-box
	height: 20px
	font-family: "FuturaFuturisRegular", $helvetica
	font-weight: normal
	font-size: 9.5px
	color: #fff


.colums
	+clearfix
.col
	float: left
	position: relative
	box-sizing: border-box

/* HEADeR */

header
	background-color: #000
	height: 52px
	.search-text
		width: 116px
		margin-left: 2px
	.search-button
		position: absolute
		right: 0
		top: 50%
		+transform(translateY(-50%))
.header-col-left
	@extend .col
	width: 75%
.header-col-right
	@extend .col
	width: 25%

.header-search-form
	position: relative

.header-search-form
	display: inline-block
	vertical-align: top
	margin-top: 16px
.header-contact-menu
	display: inline-block
	vertical-align: middle
	margin-top: 15px
	a
		font-family: "FuturaFuturisRegular", $helvetica
		font-weight: normal
		font-size: 10px
		text-decoration: none
		text-transform: uppercase
		color: #fff

.header-menu
	list-style: none
	margin-top: 15px
	li
		float: left
		padding: 0 5px
		border-left: 1px solid #fff 
		&:first-child
			border-left: 0;
		&:nth-child(2)
			border-left: 0;



/* EnD HEADeR */

/* main-section-1 */
.main-section-1
	.main-section-1-col-1,.main-section-1-col-2,.main-section-1-col-3
		@extend .col
		width: 33.333333%
		padding: 32px 0 27px
		text-align: center
		padding-left: 10px
		min-height: 105px
		span
			vertical-align: middle
			font-size: 13px
		img
			vertical-align: middle
			margin-right: 5%


/* EnD main-section-1*/ 

/* main-section-2 */
.main-section-2
	.main-section-2-col-left
		@extend .col
		width: 20.3%
	.main-section-2-col-right
		@extend .col
		width: 79.7%

.logo-parent
	margin-top: 25px
	position: relative
	left: 73px
	z-index: 2
.logo
	line-height: 0
.subtitle
	line-height: 1
	font-size: 11px
	white-space: nowrap
	letter-spacing: 1.5px
.menu
	margin-top: 60px

.main-menu
	list-style: none
	li
		position: relative
		a
			font-family: "FuturaDemi", $helvetica
			font-weight: normal
			font-size: 42px
			text-decoration: none
			line-height: .5
			color: #1f1f1f
		ul
			display: none
			margin-top: 8px
			padding-left: 14px
			list-style: none
			margin-bottom: 10px
			li
				line-height: 1
				a
					font-family: "CirceRegular", $helvetica
					font-weight: normal
					font-size: 14px
					line-height: 1.3
					color: #1f1f1f
		.view-all
			@extend .bold
			font-size: 14px
			line-height: 1.3
			border-bottom: 2px solid #1f1f1f
		&.active
			margin: 23px 0 50px
			ul
				display: block

/* EnD main-section-2*/

/* main-section-3 */
.main-section-3-col-left,.main-section-3-col-right
	@extend .col
	width: 50%
.main-section-3-col-left
	padding: 137px 10%
	text-align: center
.main-section-3-col-right
	padding: 56px 3.5%
.main-section-3
	.image
		background-image: url("img/vertbanner.jpg")
		background-repeat: no-repeat
		background-size: cover
		height: 453px
		text-align: center
		a
			display: block
			padding-top: 190px
			width: 100%
			height: 100%
			box-sizing: border-box
			color: #fff
			text-decoration: none
			h3
				font-family: "CirceRegular", $helvetica
				font-weight: normal
				font-size: 18px
				text-transform: uppercase
				line-height: 1.1
				letter-spacing: 1.5px
			p
				margin-top: 20px
				font-size: 12px
				line-height: 1
			span
				@extend .bold
				font-size: 14px
				margin-top: 130px
				border-bottom: 2px solid #fff
				display: inline-block
	.round-image
		margin-top: 40px
	.top-image
		background-image: url("img/gorbanner.jpg")
		background-repeat: no-repeat
		background-size: cover
		height: 280px
		text-align: center
		a
			color: #fff
			text-decoration: none
			height: 100%
			width: 100%
			box-sizing: border-box
			display: block
			padding-top: 123px
		h3
			font-size: 18px
			text-transform: uppercase
			line-height: 1.2
		span
			@extend .bold
			font-size: 14px
			margin-top: 70px
			border-bottom: 2px solid #fff
			display: inline-block




/* EnD main-section-3*/



//ALWAYS END
@import "_media.sass"
