{% extends 'base.html' %}
{% block titlePage %}{{Product.title}}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="/">Главная</a></li>
    {% for item in Product.ctgsList %}    
    {% if loop.index == 1 %}            
        {% for bread in item.breadcrumb %}
        <li><a href="/catalog/all/{{bread.id}}">{{bread.title}}</a></li>                                
        {% endfor %}
        <li><a href='/catalog/all/{{item.id}}'>{{item.title}}</a></li>
    {% endif %}
    {% endfor %}    
    <li class="active">{{Product.title}}</li> 
</ol>  
{% endblock %}
{% block headJS %}
<script>
 $(function(){
    $(".fancybox").fancybox(); 
 });
 </script>
{% endblock %}
{% block contentPage %}   
 <div class="product-list">
        <table width='100%' height='100%'>
            <tr>
                <td width='242px' valign='top'>
                    <div class='product-list-bg'>
                        <div class='product-image'>
                           
                                 {% if Product.photos|length > 0 %}                                     
                                         <a href="{{Product.photos.0.fullPath}}" class="fancybox thumbnail" rel="viewPhotos"  >
                                            <img src="/airdraw/{{Product.photos.0.spath}}/242/220"  />
                                         </a>                                      
                                 {% else %}
                                  <img src="/assets/auth/images/noimage/no-img.jpg" class="product-image" width="242" height="179"/>
                                 {% endif %}                             
                        </div>
                    </div>
                    <div class="clearfix">
                        {% for photo in Product.photos %}
                        {% if loop.index > 1 %}
                          <a href="{{photo.fullPath}}" rel="viewPhotos" class="fancybox">
                              <img class="lazy thumbnail pull-left" src="/airdraw/{{photo.spath}}/70/70"  height="70" width="70" style="margin:5px;"/>
                          </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <hr/>
                    <div style='padding:3px 10px'>
                        {% if Product.inBasket %}
                        <a href='javascript:void(0);' class="btn btn-default btn-block">Уже в корзине</a>                       
                        {% else %}
                        <a href='/checkout/add/{{Product.id}}' class="btn btn-primary btn-block"  id_book="{{Product.id}}">ДОБАВИТЬ В КОРЗИНУ</a>
                        {% endif %}
                    </div>
                    <br/><br/>
                    <div style="text-align:center">
                       {# <img src="/airfile/img/block-sidebar-3.jpg"  width="222px" /> #}
                    </div>
                </td>
                <td style='padding-left:27px' valign='top'>
                    <h3 class="product-title"><a href="/product/view/{{Product.id}}">{{Product.title}}</a></h3>
                    <hr/>
                    <div class='product-head'><div class='product-key'><div class="row"><div class="col-lg-2">Цена:</div><div class="col-lg-10 product-value" ><span class="label label-success" style="font-size:18px">{{Product.price|number_format(0,'.',' ')}} <img src='/assets/auth/images/icons/tenge_white.png' class='tenge'/></span></div></div></div></div>
                    <hr/>
                    {% if Product.articul != '' %}
                    <div class='product-head'><div class='product-key'><div class="row"><div class="col-lg-2">Артикул:</div><div class="col-lg-10 product-value" >{{Product.articul}}</div></div></div></div>
                    {% endif %}
                    {% if Product.code_item != '' %}
                        <div class='product-head'><div class='product-key'><div class="row"><div class="col-lg-6">Код товара:</div><div class="col-lg-6 product-value" >{{Product.code_item}}</div></div></div></div>
                    {% endif %}
                    {% if Product.code_prod != '' %}
                    <div class='product-head'><div class='product-key'><div class="row"><div class="col-lg-6">Код производителя:</div><div class="col-lg-6 product-value" >{{Product.code_prod}}</div></div></div></div>
                    {% endif %}
                    {% for item in Product.paramsList %}
                    <div class='product-head'><div class='product-key'><div class="row"><div class="col-lg-6">{{item.paramInfo.title}}:</div><div class="col-lg-6 product-value" >{{item.valueInfo.title}}</div></div></div></div>
                    {% endfor %}
                    {% for item in Product.attrsList %}
                    <div class='product-head'><div class='product-key'><div class="row"><div class="col-lg-6">{{item.attrInfo.title}}:</div><div class="col-lg-6 product-value" >{{item.valueInfo.title}}</div></div></div></div>
                    {% endfor %}
                    <br/>
                    <div class='product-head' style='border-bottom:0px;'><div class='product-key'>Описание товара:</div></div>                  
                    <div class='product-full'>
                        {% autoescape false %}
                        {{Product.full}}
                        {% endautoescape %}               
                    </div>                                          
                </td>
            </tr>
        </table>      
    </div>
  <div class="clearfix"></div>   
  <br/><br/><br/>
{% endblock %}