{% extends 'base.html' %}
{% block titlePage %}Главная страница{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block topBanner %}{% endblock %}

{% block contentPage %}
<div class="main-section-1">
	<div class="container">
		<div class="colums">
			<div class="main-section-1-col-1"><img src="/airfile/img/car.svg" alt="Экспресс - доставка"><span>Экспресс - доставка</span></div>
			<div class="main-section-1-col-2"><img src="/airfile/img/vesh.svg" alt="Примерка на дому"><span>Примерка на дому</span></div>
			<div class="main-section-1-col-3"><img src="/airfile/img/money.svg" alt="Оплата при доставке"><span>Оплата при доставке </span></div>
		</div>
	</div>
</div>
<div class="main-section-2">
	<div class="container">
		<div class="colums">
			<div class="main-section-2-col-left">
				<div class="logo-parent">
					<div class="logo"><img src="{{ Shop.logo }}" alt="онлайн-шоурум казахстанских дизайнеров"></div>
					<p class="subtitle">онлайн-шоурум казахстанских дизайнеров</p>
				</div>
				<div class="menu">
					<ul class="main-menu">
						<li><a href="#">новое</a></li>
						<li><a href="#">женщины</a></li>
						<li><a href="#">мужчины</a></li>
						<li class="active"><a href="#">дизайнеры</a>
							<ul>
								<li><a href="#">Aika Alemi</a></li>
								<li><a href="#">Alima </a></li>
								<li><a href="#">Khan Kuchum</a></li>
								<li><a href="#">Tolegen</a></li>
								<li><a href="#">Pentatonica</a></li>
								<li><a href="#">Salta</a></li>
							</ul><a href="#" class="view-all">смотреть все</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="main-section-2-col-right">
				<div class="carousel main-section-2-carousel">
					<div class="items-carousel">
						<div class="item-carousel"><img src="/airfile/img/top-baner1.jpg" alt=""></div>
						<div class="item-carousel"><img src="/airfile/img/top-baner1.jpg" alt=""></div>
						<div class="item-carousel"><img src="/airfile/img/top-baner1.jpg" alt=""></div>
						<div class="item-carousel"><img src="/airfile/img/top-baner1.jpg" alt=""></div>
					</div>
					<div class="nav-carousel"><span class="nav-carousel-prev"> <i class="icon icon-prev"></i></span><span class="nav-carousel-next"> <i class="icon icon-next"></i></span></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="main-section-3">
	<div class="container">
		<div class="colums">
			<div class="main-section-3-col-left">
				<div class="image"><a href="#">
						<h3>Заголовок в две <br>строки</h3>
						<p>Подзаголовок текст текст <br>текст текст </p><span>описание</span></a></div>
				<div class="round-image"><img src="/airfile/img/roundimg.png" alt=""></div>
			</div>
			<div class="main-section-3-col-right">
				<div class="top-image"><a href="#">
						<h3>khan kuchum <br>spring/summer 2016</h3><span>смотреть лукбук</span></a></div>
				<div class="carousel boottom-carousel">
					<div class="nav-carousel"><span class="nav-carousel-prev"><i class="icon icon-prev"></i></span><span class="nav-carousel-next"><i class="icon icon-next"></i></span></div>
					<div class="items-carousel">
						<div class="item-carousel"><a href="#"><img src="/airfile/img/shmot.png" alt=""><span class="button button-main">смотреть</span></a></div>
						<div class="item-carousel"><a href="#"><img src="/airfile/img/shmot.png" alt=""><span class="button button-main">смотреть</span></a></div>
						<div class="item-carousel"><a href="#"><img src="/airfile/img/shmot.png" alt=""><span class="button button-main">смотреть</span></a></div>
						<div class="item-carousel"><a href="#"><img src="/airfile/img/shmot.png" alt=""><span class="button button-main">смотреть</span></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="main-section-4">
	<div class="container">
		<div class="colums">
			<div class="main-section-4-col-left">
				<div class="carousel main-section-4-carousel"><span class="nav-carousel-prev"> <i class="icon icon-prev"></i></span>
					<div class="items-carousel">
						<div class="item-carousel"><a href="#">
								<h3>гардероб <br>звезды инстаграма  <br>@lalala</h3>
								<p>О подарках, подписчиках и любимых фильтрах </p><span>описание</span></a></div>
						<div class="item-carousel"><a href="#">
								<h3>гардероб <br>звезды инстаграма  <br>@lalala</h3>
								<p>О подарках, подписчиках и любимых фильтрах </p><span>описание</span></a></div>
						<div class="item-carousel"><a href="#">
								<h3>гардероб <br>звезды инстаграма  <br>@lalala</h3>
								<p>О подарках, подписчиках и любимых фильтрах </p><span>описание</span></a></div>
						<div class="item-carousel"><a href="#">
								<h3>гардероб <br>звезды инстаграма  <br>@lalala</h3>
								<p>О подарках, подписчиках и любимых фильтрах </p><span>описание</span></a></div>
					</div><span class="nav-carousel-next"><i class="icon icon-next"></i></span>
				</div>
			</div>
			<div class="main-section-4-col-right"><a href="#" class="makeupstudio"><img src="/airfile/img/makeup.jpg" alt=""></a></div>
		</div>
	</div>
</div>
<div class="main-section-5">
	<div class="container">
		<div class="slash">/</div>
		<div class="colums">
			<div class="main-section-5-col-1">
				<h2>выбор сентября:</h2>
				<p>минимализм и еще <br>раз минимализм</p><a href="#" class="button button-all">смотреть все</a>
			</div>
			<div class="main-section-5-col-2">
				<div class="image image1"><a href="#"><span>name <br>name</span></a></div>
			</div>
			<div class="main-section-5-col-3">
				<div class="image image2"><a href="#"><span>name</span></a></div>
			</div>
			<div class="main-section-5-col-4">
				<div class="image image3"><a href="#"><span>name</span></a></div>
			</div>
		</div>
	</div>
</div>
<div class="main-section-6">
	<div class="container">
		<div class="colums">
			<div class="main-section-6-col-1"><img src="/airfile/img/primerka.svg" alt="">
				<h4>доставка и примерка</h4>
				<p>крупнейший онлайн-магазин модной одежды, обуви и аксессуаров в Казахстане.</p>
				<p>В ассортименте каталога вы найдете более</p>
				<p>2 000 000 товаров, в том числе спортивную экипировку и косметику брендов с мировым именем. В нашей коллекции — свыше 1000 марок, 500 из подлинности.</p>
			</div>
			<div class="main-section-6-col-2"><img src="/airfile/img/imground.jpg" alt="">
				<h4>онлайн-шоурум <br>казахстанских <br>дизайнеров</h4>
				<p>крупнейший онлайн-магазин модной одежды, обуви и аксессуаров в Казахстане.</p>
				<p>В ассортименте каталога вы найдете более</p>
				<p>2 000 000 товаров, в том числе спортивную экипировку и косметику брендов с мировым именем. В нашей коллекции — свыше 1000 марок, 500 из подлинности.</p>
			</div>
			<div class="main-section-6-col-3"><img src="/airfile/img/oplata.svg" alt="">
				<h4>способ оплаты и возврат</h4>
				<p>крупнейший онлайн-магазин модной одежды, обуви и аксессуаров в Казахстане.</p>
				<p>В ассортименте каталога вы найдете более</p>
				<p>2 000 000 товаров, в том числе спортивную экипировку и косметику брендов с мировым именем. В нашей коллекции — свыше 1000 марок, 500 из подлинности.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}