<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block titlePage %}{% endblock %} &mdash; {{Shop.title}}</title>
		<meta name="description" content="">
		<meta name="keywords" content="">

		<link rel="stylesheet" href="/airfile/css/_main.min.css">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
	</head>
	<body>
		<header>
			<div class="container">
				<div class="colums">
					<div class="header-col-left">
						<div class="header-search-form">
							<form action="/">
								<input type="text" placeholder="ПОИСК" class="search-text">
								<button type="submit" class="search-button"><i class="icon icon-search"></i></button>
							</form>
						</div>
						<div class="header-contact-menu">
							<ul class="header-contact-menu-ul">
								<li class="header-contact-menu-li"><span><i class="icon icon-contact"></i>Свяжитесь с нами</span>
									<ul class="header-contact-menu-sub-ul">
										<li>1. отправить <a href="#">e-mail </a></li>
										<li>2. позвонить <span><a href="tel:88000505123" class="blue_text tel">8 800 0505 123</a></span></li>
										<li>3. оставить <a href="#">отзыв</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="header-col-right">
						<ul class="header-menu">
							<li class="header-menu-reg-li"><a href="#">регистрация / логин</a></li>
							<li><a href="#">ru</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		{% block contentPage %}{% endblock %}
		<footer>
			<div class="container">
				<div class="colums">
					<div class="footer-col-1">
						<ul class="footer-menu">
							{% for item in Menies['footermenu'].elms %}
								<li><a href="{{ item.url }}">{{ item.title }}</a></li>
							{% endfor %}
						</ul>
					</div>
					<div class="footer-col-2">
						<ul class="social-menu">
							<li><a href="#"><i class="icon icon-instagram"></i></a></li>
							<li><a href="#"><i class="icon icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon icon-mail"></i></a></li>
						</ul>
					</div>
					<div class="footer-col-3">
						<p class="copyright">(c) sentyabr.kz все права защищены</p>
					</div>
				</div>
			</div>
		</footer>
		<div class="hidden">
			<div class="location-lang">
				<form action="/">
					<p>выбрать страну и город</p>
					<div class="input-group1">
						<div class="select-country">
							<select class="country cSelect">
								<option>страна</option>
								<option>Англия</option>
								<option>Северная Ирландия</option>
								<option>Шотландия</option>
								<option>Уэльс		</option>
							</select>
						</div>
						<div class="select-city">
							<select class="city cSelect">
								<option>город</option>
								<option>Англия</option>
								<option>Северная Ирландия</option>
								<option>Шотландия</option>
								<option>Уэльс</option>
							</select>
						</div>
					</div>
					<p>выбрать язык:</p>
					<div class="input-group2">
						<div class="select-lang">
							<select class="lang cSelect">
								<option>язык</option>
								<option>Англия</option>
								<option>Северная Ирландия</option>
								<option>Шотландия</option>
								<option>Уэльс</option>
							</select>
						</div>
					</div>
					<button type="submit" class="button-save">Сохранить</button>
				</form>
			</div>
		</div><!--[if lt IE 9]>
		<script src="/airfile/libs/html5shiv/es5-shim.min.js"></script>
		<script src="/airfile/libs/html5shiv/html5shiv.min.js"></script>
		<script src="/airfile/libs/html5shiv/html5shiv-printshiv.min.js"></script>
		<script src="/airfile/libs/respond/respond.min.js"></script><![endif]-->

		<script>
			var scr = {"scripts":[
			{"src" : "/airfile/libs/modernizr/modernizr.js", "async" : false},
			{"src" : "/airfile/libs/jquery/jquery-1.11.2.min.js", "async" : false},
			{"src" : "/airfile/libs/owl/owl.carousel.min.js", "async" : false},
			{"src" : "/airfile/libs/magnific-popup/jquery.magnific-popup.min.js", "async" : false},
			{"src" : "/airfile/libs/customSelect/jquery.customSelect.min.js", "async" : false},
			{"src" : "/airfile/libs/sumoselect/jquery.sumoselect.min.js", "async" : false},
			{"src" : "/airfile/js/common.js", "async" : false}
			]};!function(t,n,r){"use strict";var c=function(t){if("[object Array]"!==Object.prototype.toString.call(t))return!1;for(var r=0;r<t.length;r++){var c=n.createElement("script"),e=t[r];c.src=e.src,c.async=e.async,n.body.appendChild(c)}return!0};t.addEventListener?t.addEventListener("load",function(){c(r.scripts);},!1):t.attachEvent?t.attachEvent("onload",function(){c(r.scripts)}):t.onload=function(){c(r.scripts)}}(window,document,scr);
		</script>
	</body>
</html>