.colums
	.banner-footer-left
		.banner.banner1
			a(href="#")
				h3 гардероб <br>звезды инстаграма <br>@lalala
				p О подарках, подписчиках и любимых фильтрах
	.banner-footer-right
		.banner.banner2
			a(href="#")
				h3 гардероб <br>звезды инстаграма <br>@lalala
				p О подарках, подписчиках и любимых фильтрах