.footer-icon
	.footer-icon-col
		img(src="img/ssl.svg", alt="Безопасность платежей гарантируется использованием SSL протокола")
		p Безопасность платежей гарантируется использованием SSL протокола
	.footer-icon-col
		img(src="img/car.svg", alt="Экспресс-Доставка")
		p Экспресс-Доставка
	.footer-icon-col
		img(src="img/vesh.svg", alt="Примеряйте и оплачивайте только подходящие товары")
		p Примеряйте <br>и оплачивайте только подходящие товары
	.footer-icon-col
		img(src="img/money.svg", alt="Оплата наличными в момент доставки")
		p Оплата наличными в момент доставки