footer
	.container
		.colums
			.footer-col-1
				ul.footer-menu
					li
						a(href="#") о нас 
					li
						a(href="#") контакты
					li
						a(href="#") помощь 
			.footer-col-2
				ul.social-menu
					li
						a(href="#")
							i.icon.icon-instagram
					li
						a(href="#")
							i.icon.icon-facebook
					li
						a(href="#")
							i.icon.icon-mail
			.footer-col-3
				p.copyright (c) sentyabr.kz все права защищены