header
	.container
		.colums
			.header-col-left
				.header-search-form
					form(action="/")
						input(type="text" placeholder="ПОИСК").search-text
						button(type="submit").search-button
							i.icon.icon-search
				.header-contact-menu
					ul
						li
							a(href="#")
								i.icon.icon-contact
								| Свяжитесь с нами
			.header-col-right
				ul.header-menu
					li
						a(href="#")
							i.icon.icon-favorites
					li
						a(href="#")
							i.icon.icon-cart
					li
						a(href="#") жанель сыдыкова
					li
						a(href="#") астана 
					li
						a(href="#") ru