.logo-parent
	.logo
		img(src="img/logo.png", alt="")
	p.subtitle онлайн-шоурум казахстанских дизайнеров
.menu
	ul.main-menu
		li
			a(href="#") новое
		li
			a(href="#") женщины
		li
			a(href="#") мужчины
		li.active
			a(href="#") дизайнеры
			ul
				li
					a(href="#") Aika Alemi
				li
					a(href="#") Alima 
				li
					a(href="#") Khan Kuchum
				li
					a(href="#") Tolegen
				li
					a(href="#") Pentatonica
				li
					a(href="#") Salta
			a(href="#").view-all смотреть все
		li
			a(href="#") outlet