.product
	.preview.carousel
		span.nav-carousel-prev
			i.icon.icon-prev
		span.checked-favorites
			input(type="checkbox").checkbox-favorites#checkbox-fav
			label(for="checkbox-fav")
		span.delet-favorites
			i.icon.icon-close
		.items-carousel
			.item-carousel
				a(href="#")
					img(src="img/shmot.png", alt="")
			.item-carousel
				a(href="#")
					img(src="img/shmot.png", alt="")
			.item-carousel
				a(href="#")
					img(src="img/shmot.png", alt="")
			.item-carousel
				a(href="#")
					img(src="img/shmot.png", alt="")
		span.addcart в корзину
		span.edit редактировать
		span.nav-carousel-next
			i.icon.icon-next
	.description
		a(href="#")
			h3 khan kuchum
			p Пальто из кашемира с аппликацией
			p.uk.uk-not UK 8 (НЕТ В НАЛИЧИИ)
			p.price 134,000 
				span.sale 200,000
				i.tenge n