.product
	.preview.carousel
		span.nav-carousel-prev
			i.icon.icon-prev
		.items-carousel
			.item-carousel
				a(href="#")
					img(src="img/shmot.png", alt="")
			.item-carousel
				a(href="#")
					img(src="img/shmot.png", alt="")
			.item-carousel
				a(href="#")
					img(src="img/shmot.png", alt="")
			.item-carousel
				a(href="#")
					img(src="img/shmot.png", alt="")
		span.sizes 34, 36, 38, 42
		span.nav-carousel-next
			i.icon.icon-next
	.description
		a(href="#")
			if title
				h3 khan kuchum
			p Пальто из кашемира с аппликацией
			p.price 134,000 
				i.tenge n