{% extends 'base.html' %}
{% block titlePage %}{{Page.title}}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="/">Главная</a></li>    
    <li class="active">{{Page.title}}</li> 
</ol>  
{% endblock %}
{% block headJS %}
<script>
 $(function(){
    $(".fancybox").fancybox(); 
 });
 </script>
{% endblock %}
{% block contentPage %}   
 <h1>{{Page.title}}</h1>
 {% autoescape false %}
 {{ Page.full }}
 {% endautoescape %}
  <div class="clearfix"></div>        
{% endblock %}