extends ./template/template.jade

block title
	title Дизайнер

block content
	include ./template/header.jade
	.desing-section-1
		.container
			.colums
				.desing-section-1-col-left
					.logo-parent
						.logo
							img(src="img/logo.png", alt="")
					.menu
						ul.main-menu
							li
								a(href="#") новое
							li
								a(href="#") женщины
							li
								a(href="#") мужчины
							li
								a(href="#") дизайнеры
							li
								a(href="#") outlet
				.desing-section-1-col-right
					.desing-banner-header
	.desing-section-2
		.container
			.colums.desing-row
				.desing-section-2-col-1
					span.big-letter A
				.desing-section-2-col-2
					ul.desing-ul
						li
							a(href="#") AGNONA
						li
							a(href="#") ALAÏA
						li
							a(href="#") ALBERTA FERRETTI
						li
							a(href="#") ALESSANDRA RICH
						li
							a(href="#") ALEXA CHUNG FOR AG JEANS
						li
							a(href="#") ALEXANDER MCQUEEN
						li
							a(href="#") ALEXANDER WANG
				.desing-section-2-col-3
					ul.desing-ul
						li
							a(href="#") AGNONA
						li
							a(href="#") ALAÏA
						li
							a(href="#") ALBERTA FERRETTI
						li
							a(href="#") ALESSANDRA RICH
						li
							a(href="#") ALEXA CHUNG FOR AG JEANS
						li
							a(href="#") ALEXANDER MCQUEEN
						li
							a(href="#") ALEXANDER WANG
			.colums.desing-row
				.desing-section-2-col-1
					span.big-letter B
				.desing-section-2-col-2
					ul.desing-ul
						li
							a(href="#") BASE RANGE
						li
							a(href="#") BBROWBAR
						li
							a(href="#") BEAUTY WORKS WEST
						li
							a(href="#") BEAUTYBLENDER
						li
							a(href="#") BELLA FREUD
						li
							a(href="#") BELLA FREUD PARFUM
						li
							a(href="#") BEN-AMUN
						li
							a(href="#") BIOEFFECT
				.desing-section-2-col-3
					ul.desing-ul
						li
							a(href="#") BODAS
						li
							a(href="#") BODY EDITIONS
						li
							a(href="#") BODYISM
						li
							a(href="#") BODYISM'S CLEAN AND LEAN
						li
							a(href="#") BOMBKI
			.colums.desing-row
				.desing-section-2-col-1
					span.big-letter C
				.desing-section-2-col-2
					ul.desing-ul
						li
							a(href="#") CARINE GILSON
						li
							a(href="#") CAROLINA BUCCI
						li
							a(href="#") CARVEN
						li
							a(href="#") CASTAÑER
						li
							a(href="#") CAUDALIE
						li
							a(href="#") CAVALLERIA TOSCANA
						li
							a(href="#") CAVALLI, ROBERTO
						li
							a(href="#") CÉDRIC CHARLIER
						li
							a(href="#") CHALAYAN
				.desing-section-2-col-3
					ul.desing-ul
						li
							a(href="#") CHURCH'S
						li
							a(href="#") CIRE TRUDON
						li
							a(href="#") CLARE V
	include ./template/footer.jade