extends ./template/template.jade

block title
	title Помощь

block content
	- var reg = true
	include ./template/header.jade
	.help-section-1
		.container
			.colums
				.help-section-1-col-left
					.logo-parent
						.logo
							img(src="img/logo.png", alt="")
					.menu
						ul.main-menu
							li
								a(href="#") о нас
							li
								a(href="#") помощь
							li
								a(href="#") контакты
				.help-section-1-col-right
					.to_story
						a(href="#")
							i.icon.icon-story
							| в магазин
	.help-section-2
		.container
				.help-section-2-col
					a(href="#")
						img(src="img/car-blue.svg", alt="")
						p Условия доставки
				.help-section-2-col
					a(href="#")
						img(src="img/money-blue.svg", alt="")
						p Оплата
				.help-section-2-col
					a(href="#")
						img(src="img/oplata-blue.svg", alt="")
						p Возврат
				.help-section-2-col
					a(href="#")
						img(src="img/offret-blue.svg", alt="")
						p Публичная оферта
	.help-section-3
		.container
			.help-section-3-col
				p.question
					a(href="#") I'M A UK CUSTOMER. HAVE YOU RECEIVED MY RETURNED ITEMS?
				p.question
					a(href="#") I'M A UK CUSTOMER. HAVE YOU RECEIVED MY RETURNED ITEMS?
				p.question
					a(href="#") I'M A UK CUSTOMER. HAVE YOU RECEIVED MY RETURNED ITEMS?
				p.question
					a(href="#") I'M A UK CUSTOMER. HAVE YOU RECEIVED MY RETURNED ITEMS?
				p.question
					a(href="#") I'M A UK CUSTOMER. HAVE YOU RECEIVED MY RETURNED ITEMS?
			.help-section-3-col
				p.question
					a(href="#") I'M A UK CUSTOMER. HAVE YOU RECEIVED MY RETURNED ITEMS?
				p.answer It can usually take up to 7 working days (excluding weekends and bank holidays) from the date of your return for your parcel to be delivered back to our warehouse and processed.
				p.answer We'll send you an email as soon as we've completed your return, letting you know whether a refund or exchange has been processed. This is usually within 1 working day of receiving your return into our warehouse.
				p.answer Any refund will be automatically issued to the payment method you used to place your original order. This typically takes 5 working days in the UK, depending on your payment method issuer.
				p.answer If you've returned more than one order in the same parcel, please allow 24 hours for all your returns to be completed.
				p.answer If your returns haven't reached us after the returns timeframe, please get in touch using one of the contact options below so we can help you further.
			.help-section-3-col
				p.question
					a(href="#") I'M A UK CUSTOMER. HAVE YOU RECEIVED MY RETURNED ITEMS?
				p.question
					a(href="#") I'M A UK CUSTOMER. HAVE YOU RECEIVED MY RETURNED ITEMS?
				p.question
					a(href="#") I'M A UK CUSTOMER. HAVE YOU RECEIVED MY RETURNED ITEMS?
				p.question
					a(href="#") I'M A UK CUSTOMER. HAVE YOU RECEIVED MY RETURNED ITEMS?
				p.question
					a(href="#") I'M A UK CUSTOMER. HAVE YOU RECEIVED MY RETURNED ITEMS?
			.help-section-3-col
				p.question
					a(href="#") I'M A UK CUSTOMER. HAVE YOU RECEIVED MY RETURNED ITEMS?
				p.answer It can usually take up to 7 working days (excluding weekends and bank holidays) from the date of your return for your parcel to be delivered back to our warehouse and processed.
				p.answer We'll send you an email as soon as we've completed your return, letting you know whether a refund or exchange has been processed. This is usually within 1 working day of receiving your return into our warehouse.
				p.answer Any refund will be automatically issued to the payment method you used to place your original order. This typically takes 5 working days in the UK, depending on your payment method issuer.
				p.answer If you've returned more than one order in the same parcel, please allow 24 hours for all your returns to be completed.
				p.answer If your returns haven't reached us after the returns timeframe, please get in touch using one of the contact options below so we can help you further.
	include ./template/footer.jade