extends ./template/template.jade

block title
	title Главная страница

block content
	header
		.container
			.colums
				.header-col-left
					.header-search-form
						form(action="/")
							input(type="text" placeholder="ПОИСК").search-text
							button(type="submit").search-icon
					.header-contact-menu
						ul
							li
								a(href="#")
									i.icon.icon-contact
									| Свяжитесь с нами
				.header-col-right
					ul.header-menu
						li
							a(href="#")
								i.icon.icon-favorites
						li
							a(href="#")
								i.icon.icon-cart
								| жанель сыдыкова
						li
							a(href="#") астана 
						li
							a(href="#") ru
	.main-section-1
		.container
			.colums
				.main-section-1-col-1
					img(src="img/1.png", alt="Экспресс - доставка")
					span Экспресс - доставка
				.main-section-1-col-2
					img(src="img/1.png", alt="Экспресс - доставка")
					span Примерка на дому
				.main-section-1-col-3
					img(src="img/1.png", alt="Экспресс - доставка")
					span Оплата при доставке

	.main-section-2
		.container
			.colums
				.main-section-2-col-left
					.logo-parent
						.logo
							img(src="img/1.png", alt="")
						.subtitle
							p онлайн-шоурум казахстанских дизайнеров
					.menu
						ul.main-menu
							li
								a(href="#") новое
							li
								a(href="#") женщины
							li
								a(href="#") мужчины
							li
								a(href="#") дизайнеры
								ul
									li
										a(href="#") Aika Alemi
									li
										a(href="#") Alima 
									li
										a(href="#") Khan Kuchum
									li
										a(href="#") Tolegen
									li
										a(href="#") Pentatonica
									li
										a(href="#") Salta
									li
										a(href="#") смотреть все
							li
								a(href="#") outlet

				.main-section-2-col-right
					.carousel.main-section-2-carousel
						.items-carousel
							.item-carousel
								img(src="img/1.png", alt="")
							.item-carousel
								img(src="img/1.png", alt="")
							.item-carousel
								img(src="img/1.png", alt="")
							.item-carousel
								img(src="img/1.png", alt="")
						.nav-carousel
							.nav-carousel-left
							.nav-carousel-right
	.main-section-3
		.container
			.colums
				.main-section-3-col-left
					.image
						a(href="#")
							h3 Заголовок в две строки
							p Подзаголовок текст текст текст текст 
							span описание
					.round-image
						img(src="#", alt="")
				.main-section-3-col-right
					.top-image
						a(href="#")
							h3 khan kuchum <br>spring/summer 2016
							span смотреть лукбук
					.carousel.boottom-carousel
						.nav-carousel-left
						.items-carousel
							.item-carousel
								a(href="#")
									img(src="img/1.png", alt="")
									span.button-main смотреть
							.item-carousel
								a(href="#")
									img(src="img/1.png", alt="")
									span.button-main смотреть
							.item-carousel
								a(href="#")
									img(src="img/1.png", alt="")
									span.button-main смотреть
							.item-carousel
								a(href="#")
									img(src="img/1.png", alt="")
									span.button-main смотреть
						.nav-carousel-right
	.main-section-4
		.container
			.colums
				.main-section-4-col-left
					.carousel.main-section-4-carousel
						.nav-carousel-left
						.items-carousel
							.item-carousel
								a(href="#")
										h3 гардероб <br>звезды инстаграма	<br>@lalala
										p О подарках, подписчиках и любимых фильтрах 
										span описание
							.item-carousel
								a(href="#")
										h3 гардероб <br>звезды инстаграма	<br>@lalala
										p О подарках, подписчиках и любимых фильтрах 
										span описание
							.item-carousel
								a(href="#")
										h3 гардероб <br>звезды инстаграма	<br>@lalala
										p О подарках, подписчиках и любимых фильтрах 
										span описание
							.item-carousel
								a(href="#")
										h3 гардероб <br>звезды инстаграма	<br>@lalala
										p О подарках, подписчиках и любимых фильтрах 
										span описание
						.nav-carousel-right
				.main-section-4-col-right
					img(src="#", alt="")
	.main-section-5
		.container
			.slash
			.colums
					.main-section-5-col-1
						h2 Выбор сентября:
						p минимализм и еще раз минимализм
						a(href="#").buttom-all смотреть всё
					.main-section-5-col-2
						.image
							a(href="#")
								span name <br>name
					.main-section-5-col-3
						.image
							a(href="#")
								span name <br>name
					.main-section-5-col-4
						.image
							a(href="#")
								span name <br>name
	.main-section-6
		.container
			.colums
				.main-section-6-col-1
					i.icon-jacket
					h4 доставка и примерка
					p крупнейший онлайн-магазин модной одежды, обуви и аксессуаров в Казахстане.
					p В ассортименте каталога вы найдете более
					p 2 000 000 товаров, в том числе спортивную экипировку и косметику брендов с мировым именем. В нашей коллекции — свыше 1000 марок, 500 из подлинности.
				.main-section-6-col-2
					img(src="", alt="")
					h4 онлайн-шоурум <br>казахстанских <br>дизайнеров
					p крупнейший онлайн-магазин модной одежды, обуви и аксессуаров в Казахстане.
					p В ассортименте каталога вы найдете более
					p 2 000 000 товаров, в том числе спортивную экипировку и косметику брендов с мировым именем. В нашей коллекции — свыше 1000 марок, 500 из подлинности.
				.main-section-6-col-3
					i.icon-reload-money
					h4 способ оплаты и возврат
					p крупнейший онлайн-магазин модной одежды, обуви и аксессуаров в Казахстане.
					p В ассортименте каталога вы найдете более
					p 2 000 000 товаров, в том числе спортивную экипировку и косметику брендов с мировым именем. В нашей коллекции — свыше 1000 марок, 500 из подлинности.
	footer
		.container
			.colums
				.footer-col-1
					ul.footer-menu
						li
							a(href="#") о нас 
						li
							a(href="#") контакты
						li
							a(href="#") помощь 
				.footer-col-2
					ul.social-menu
						li
							a(href="#") 
								i.icon-instagram
						li
							a(href="#") 
								i.icon-facebook
						li
							a(href="#")
								i.icon-mail 
				.footer-col-3
					p (c) sentyabr.kz все права защищены







